<?xml version="1.0"?>
<robot name="revolute_joint">
  <joint name="revolute_joint" type="revolute">
    <parent link="top_attachment"/>
    <child link="bottom_attachment"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.14" upper="3.14" effort="1.0" velocity="1.0"/>
  </joint>
</robot>
