<?xml version="1.0"?>
<robot name="BODY_LINK_HEX">
  <!-- Body Link with Hexagon -->
  <link name="body_link">
    <visual>
      <geometry>
        <mesh filename="package://meshes/hexagon.stl"/>
      </geometry>
      <material name="red">
        <color rgba="1.0 0.0 0.0 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://meshes/hexagon.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="5.0"/>
      <inertia ixx="0.025" ixy="0.0" ixz="0.0" iyy="0.025" iyz="0.0" izz="0.025"/>
    </inertial>
  </link>

  <joint name="top_sphere_joint_body" type="fixed">
    <parent link="body_link"/>
    <child link="body_joint_link"/>
    <origin xyz="0 0 0.0875" rpy="1.5 0 0"/>
  </joint>

  <link name="body_joint_link">
    <visual>
      <geometry>
        <sphere radius="0.02"/>
      </geometry>
      <material name="black">
        <color rgba="0.0 0.0 0.0 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5"/>
      <inertia ixx="0.0025" ixy="0.0" ixz="0.0" iyy="0.0025" iyz="0.0" izz="0.0025"/>
    </inertial>
  </link>
</robot>
