<?xml version='1.0' encoding='utf-8'?>
<robot name="combined_robot">
  <link name="body_link_0">
    <visual>
      <geometry>
        <box size="0.1 0.1 0.1" />
      </geometry>
      <material name="red">
        <color rgba="1.0 0.0 0.0 1.0" />
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="0.1 0.1 0.1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="5.0" />
      <inertia ixx="0.025" ixy="0.0" ixz="0.0" iyy="0.025" iyz="0.0" izz="0.025" />
    </inertial>
  </link>
  <joint name="back_sphere_joint" type="fixed">
    <parent link="body_link_0" />
    <child link="backSphere_0" />
    <origin xyz="0 -0.05 0" rpy="0 0 0" />
  </joint>
  <link name="backSphere_0">
    <visual>
      <geometry>
        <sphere radius="0.02" />
      </geometry>
      <material name="black">
        <color rgba="0 0 0 1.0" />
      </material>
    </visual>
    <collision>
      <geometry>
        <sphere radius="0.02" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5" />
      <inertia ixx="0.0025" ixy="0.0" ixz="0.0" iyy="0.0025" iyz="0.0" izz="0.0025" />
    </inertial>
  </link>
  <joint name="joint_1" type="fixed">
    <parent link="backSphere_0" />
    <child link="representativeJoint_0" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <link name="representativeJoint_0">
    <visual>
      <geometry>
        <box size="0.07 0.07 0.07" />
      </geometry>
      <material name="blue">
        <color rgba="0.0 0.0 0.0 1.0" />
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="0.07 0.07 0.07" />
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0" />
      <inertia ixx="0.002" ixy="0.0" ixz="0.0" iyy="0.002" iyz="0.0" izz="0.003" />
    </inertial>
  </link>
  <joint name="joint_2" type="fixed">
    <parent link="representativeJoint_0" />
    <child link="blackSphere_0" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <link name="blackSphere_0">
    <visual>
      <geometry>
        <sphere radius="0.02" />
      </geometry>
      <material name="black">
        <color rgba="0 0 0 55.0" />
      </material>
    </visual>
    <collision>
      <geometry>
        <sphere radius="0.02" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5" />
      <inertia ixx="0.0025" ixy="0.0" ixz="0.0" iyy="0.0025" iyz="0.0" izz="0.0025" />
    </inertial>
  </link>
  <joint name="joint_1" type="fixed">
    <parent link="blackSphere_0" />
    <child link="limb_link" />
    <origin xyz="0 0 0.09" rpy="0 0 0" />
  </joint>
  <link name="limb_link">
    <visual>
      <geometry>
        <cylinder length="0.1875" radius="0.03125" />
      </geometry>
      <material name="blue">
        <color rgba="0.0 0.0 1.0 1.0" />
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.1875" radius="0.03125" />
      </geometry>
    </collision>
    <inertial>
      <mass value="2.5" />
      <inertia ixx="0.0125" ixy="0.0" ixz="0.0" iyy="0.0125" iyz="0.0" izz="0.0125" />
    </inertial>
  </link>
  <joint name="bot_sphere_joint_limb" type="fixed">
    <parent link="limb_link" />
    <child link="limb_joint_bottom_blue_link" />
    <origin xyz="0 0 0.09" rpy="0 0 0" />
  </joint>
  <link name="limb_joint_bottom_blue_link">
    <visual>
      <geometry>
        <sphere radius="0.03125" />
      </geometry>
      <material name="blue">
        <color rgba="0.0 0.0 1.0 1.0" />
      </material>
    </visual>
    <collision>
      <geometry>
        <sphere radius="0.03125" />
      </geometry>
    </collision>
    <inertial>
      <mass value="2.5" />
      <inertia ixx="0.0125" ixy="0.0" ixz="0.0" iyy="0.0125" iyz="0.0" izz="0.0125" />
    </inertial>
  </link>
</robot>