<?xml version="1.0"?>
<robot name="BODY_jointFixed_Right">

<!-- Right Sphere (positive X direction) -->
  <joint name="joint_1" type="fixed">
    <parent link="body_link"/>
    <child link="right_sphere"/>
    <origin xyz="0.05 0 0" rpy="0 0 0"/>
  </joint>
  <link name="right_sphere">
    <visual>
      <geometry>
        <sphere radius="0.02"/>
      </geometry>
      <material name="black">
        <color rgba="0 0 0 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <sphere radius="0.02"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5"/>
      <inertia ixx="0.00008" ixy="0.0" ixz="0.0" iyy="0.00008" iyz="0.0" izz="0.00008"/>
    </inertial>
  </link>
  </robot>