<?xml version="1.0"?>
<robot name="L_WHEEL">

  <link name="">
    <visual>
      <geometry>
        <cylinder length="0.1" radius="0.01"/>
      </geometry>
      <material name="black">
        <color rgba="0.0 0.0 0.0 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <sphere length="0.07" radius="0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5"/>
      <inertia ixx="0.0025" ixy="0.0" ixz="0.0" iyy="0.0025" iyz="0.0" izz="0.0025"/>
    </inertial>
  </link>

  <joint name="joint_1" type="fixed">
    <parent link="a"/>
    <child link="limb_link"/>
    <origin xyz="0 0 0.04" rpy="0 0 0"/>
  </joint>

  <link name="limb_link">
    <!-- Main visual: green cylinder for the wheel -->
    <visual>
      <geometry>
        <cylinder length="0.025" radius="0.07"/>
      </geometry>
      <material name="green">
        <color rgba="0.0 1.0 0.0 1.0"/>
      </material>
    </visual>

    <!-- Additional visual: red line on the wheel
    <visual>
      <origin xyz="0 0 0.011" rpy="0 0 0"/>
      <geometry>
        <box size="0.14 0.004 0.004"/>
      </geometry>
      <material name="red_line">
        <color rgba="1.0 0.0 0.0 1.0"/>
      </material>
    </visual>-->

    <collision>
      <geometry>
        <cylinder length="0.025" radius="0.07"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.0005"/>
    </inertial>
  </link>

</robot>
