

  <!-- Wheel Link -->
  <link name="wheel_link">
    <visual>
      <geometry>
        <cylinder length="0.015" radius="0.05"/>
      </geometry>
      <material name="green">
        <color rgba="0.0 1.0 0.0 1.0"/>
      </material>
    </visual>

    <collision>
      <geometry>
        <cylinder length="0.015" radius="0.05"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="0.5"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.0005"/>
    </inertial>
  </link>


  <joint name="wheel_back_joint" type="fixed">
    <parent link="wheel_link"/>
    <child link="link_Helper"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  

  <link name="link_Helper">
    <visual>
      <geometry>
        <sphere radius="0.02"/>
      </geometry>
      <material name="black">
        <color rgba="0.0 0.0 0.0 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5"/>
      <inertia ixx="0.0025" ixy="0.0" ixz="0.0" iyy="0.0025" iyz="0.0" izz="0.0025"/>
    </inertial>
  </link>
