<?xml version="1.0"?>
<robot name="Limb_LINK">
<!-- Limb Joint Bottom -->
  <link name="limb_joint_bottom_blue_link">
    <visual>
      <geometry>
        <sphere radius="0.03125"/>
      </geometry>
      <material name="blue">
        <color rgba="0.0 0.0 1.0 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <sphere radius="0.03125"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="2.5"/>
      <inertia ixx="0.0125" ixy="0.0" ixz="0.0" iyy="0.0125" iyz="0.0" izz="0.0125"/>
    </inertial>
  </link>

  <!-- Joint for Limb -->
  <joint name="bot_sphere_joint_limb" type="fixed">
    <parent link="limb_joint_bottom_blue_link"/>
    <child link="limb_link"/>
    <origin xyz="0 0 0.09" rpy="0 0 0"/>
  </joint>

  <!-- Limb Link -->
  <link name="limb_link">
    <visual>
      <geometry>
        <cylinder length="0.1875" radius="0.03125"/>
      </geometry>
      <material name="blue">
        <color rgba="0.0 0.0 1.0 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.1875" radius="0.03125"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="2.5"/>
      <inertia ixx="0.0125" ixy="0.0" ixz="0.0" iyy="0.0125" iyz="0.0" izz="0.0125"/>
    </inertial>
  </link>

    <!-- Joint for Limb -->
  <joint name="bot_sphere_joint_limb2" type="fixed">
    <parent link="limb_link"/>
    <child link="limb_joint_bottom_blue_link2"/>
    <origin xyz="0 0 0.09" rpy="0 0 0"/>
  </joint>

    <link name="limb_joint_bottom_blue_link2">
    <visual>
      <geometry>
        <sphere radius="0.03125"/>
      </geometry>
      <material name="blue">
        <color rgba="0.0 0.0 1.0 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <sphere radius="0.03125"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="2.5"/>
      <inertia ixx="0.0125" ixy="0.0" ixz="0.0" iyy="0.0125" iyz="0.0" izz="0.0125"/>
    </inertial>
  </link>


    <joint name="fixed_joint" type="fixed">
    <parent link="limb_joint_bottom_blue_link2"/>
    <child link="link_square"/>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
  </joint>

<link name="link_square">
  <visual>
    <geometry>
      <box size="0.05 0.05 0.05" /> <!-- Length, width, and height of the box -->
    </geometry>
    <material name="blue">
      <color rgba="0.0 0.0 0.0 1.0" /> <!-- RGBA color for the link -->
    </material>
  </visual>
  <collision>
    <geometry>
      <box size="0.05 0.05 0.05" /> <!-- Same dimensions as the visual -->
    </geometry>
  </collision>
  <inertial>
    <mass value="1.0" /> <!-- Mass of the link -->
    <inertia ixx="0.002" ixy="0.0" ixz="0.0" iyy="0.002" iyz="0.0" izz="0.003" /> <!-- Moment of inertia -->
  </inertial>
</link>


<!-- Joint for Limb -->
  <joint name="bot_sphere_joint_limb4" type="fixed">
    <parent link="link_square"/>
    <child link="limb_joint_bottom_blue_link3"/>
    <origin xyz="0 0 0.03" rpy="0 0 0"/>
  </joint>

    <link name="limb_joint_bottom_blue_link3">
    <visual>
      <geometry>
        <sphere radius="0.03125"/>
      </geometry>
      <material name="blue">
        <color rgba="0.0 0.0 1.0 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <sphere radius="0.03125"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="2.5"/>
      <inertia ixx="0.0125" ixy="0.0" ixz="0.0" iyy="0.0125" iyz="0.0" izz="0.0125"/>
    </inertial>
  </link>



    <!-- Joint for Limb -->
  <joint name="bot_sphere_joint_limb4" type="fixed">
    <parent link="limb_joint_bottom_blue_link3"/>
    <child link="limb_link2"/>
    <origin xyz="0 0 0.09" rpy="0 0 0"/>
  </joint>


<!-- Limb Link -->
  <link name="limb_link2">
    <visual>
      <geometry>
        <cylinder length="0.1875" radius="0.03125"/>
      </geometry>
      <material name="blue">
        <color rgba="0.0 0.0 1.0 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.1875" radius="0.03125"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="2.5"/>
      <inertia ixx="0.0125" ixy="0.0" ixz="0.0" iyy="0.0125" iyz="0.0" izz="0.0125"/>
    </inertial>
  </link>

    <!-- Joint for Limb -->
  <joint name="bot_sphere_joint_limb4" type="fixed">
    <parent link="limb_link2"/>
    <child link="limb_joint_bottom_blue_link5"/>
    <origin xyz="0 0 0.09" rpy="0 0 0"/>
  </joint>

    <link name="limb_joint_bottom_blue_link5">
    <visual>
      <geometry>
        <sphere radius="0.03125"/>
      </geometry>
      <material name="blue">
        <color rgba="0.0 0.0 1.0 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <sphere radius="0.03125"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="2.5"/>
      <inertia ixx="0.0125" ixy="0.0" ixz="0.0" iyy="0.0125" iyz="0.0" izz="0.0125"/>
    </inertial>
  </link>


</robot>
